body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    background: -webkit-linear-gradient(#bf80ff, #d6d6f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #66BFBF;
    font-size: 5.7em; 
    margin: 100px auto 0 auto;
    font-family: 'Sacramento', cursive;

}

h2 {
    background: -webkit-linear-gradient(#bf80ff, #d6d6f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: normal;

}

h3 {
    background: -webkit-linear-gradient(#bf80ff, #d6d6f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;

}

div {
    background-color: #212121; 

}

.top-container {
    background-color: #212121;
    position: relative;
    padding-top: 50px;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.footer-link {
    background: -webkit-linear-gradient(#bf80ff, #d6d6f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

p {
    background: -webkit-linear-gradient(#f0e6ff, #d6d6f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
}

.skill-row {
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skills-img {
    width: 25%;
    float: left;
    margin-right: 50px;
}

.skills-img2 {
    width: 25%;
    float: left;
    margin-right: 50px;

}

.skills-img3 {
    width: 25%;
    float: left;
    margin-right: 50px;

}


.code-img {
    width: 15%;
    padding-top: 50px;
}

.skills {
    padding-top: 50px;

}

.Coding-bro {
    width: 35%;
    height: auto;

}

.btn {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.storyset {
    font-size: 0.8em;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

